h1 h2 h3 h4 h5 {
    font-weight: bold !important;
}
h2{
    font-size: 30px;
}

h5{
    font-size:20px;
}
body{
    /* font-family: 'Lexend Peta', sans-serif; */
    background-color:black;
}
th{
    font-weight: bolder !important;
}
#saved{
    color:black;
    font-size:24px;
}
.mainBody{
    background-color: black;
    height:100%;
}

.navbar{
    background-color: purple !important;
    height:auto !important;
}

.navbar-nav{
    float:"right" !important;
    color:white;
}
.nav-link{
    color:white !important;
    font-size: 24px;
    font-weight: bold;
}
.navbar-header h1{
     color:white;
     margin-left: auto;
     margin-right: auto;
}

.right a{
    font-size:25px;
    font-weight: bolder;
}
.signUpContainer{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


#signUpBox{
    /* border:1px solid purple !important; */
    border-radius: 25px;
}
.section-search input {
    padding: 5px !important;
    padding-left: 10px !important;
    font-size: 20px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
    color: purple !important;
}

.btn{
    font-size:30px !important;
    font-weight: bolder;
    border-radius: 15px;
}
.section-follow .fa-3x {
    margin: 5px 10px;
}
/* body { 
    background-image: url("../img/road.jpg");
    background-size: cover;
}*/
.navbar-fixed {
    width: 100%;
}
.nav-wrapper {
    margin-left: 40px;
    margin-right: 20px;
}

.slider ul li {
    /* position: static; */
    /* top: 64px !important; */
    margin-left: auto;
    margin-right: auto;
    background: black;
   
    
}
.slides ul li {
    position: static;
    top: 64px !important;
    margin-left: auto;
    margin-right: auto;

}

.btn {
    font-size: 24px;
    background-color: teal;
}

caption.center.align h2 {
    background: black !important;
    opacity: 0.3 !important;
}

.loginHeader {
    background: purple;
    
}

.text-box{
    background: rgba(0,0,0,.8);
    border-radius: 25px;
    color:white;
    padding:20px;
}
.brandContainer{
    background-color:transparent;
    width:75%;
 
}

.navbar-brand{
    font-family: 'Lexend Peta', sans-serif;
    color:white !important;
    font-size: 36px;
    font-weight: bolder;
    text-align: center !important;
    margin-left: 10px;
}


.loginBtn {
    color: white;
}

p {
    font-size: 20px;
}

.input-field {
    /* color: purple; */
    border-radius: 15px;
    margin: 10px;
}

html {
    background-color: black;
}
.sidenav{
    
    background-color: black;
    font-size:20px;
}
td{
    font-size:24px;
    font-weight: bolder;
    border-radius: 25px;
    width: 250px;
    max-width: 400px;
    padding:15px !important;
    overflow:hidden;
}

/* #saved {
    color: #ffffff;
} */

.savedJobH4 h4{
    font-weight: bolder;
    padding:20px;
}
.saved{
    /* border: 1px solid purple; */
    border-radius: .25px;
    background: tomato;
}

.saved tr{
    font-weight: bolder;
}

.saved-table {
    color: white;
    font-size:24px;
}

.saved-table h4{
    font-weight: bolder;
}

.saved-table > hr {
    width:50%;
}
.saveBtn {
    background: teal;
    color: white;
}

.deleteBtn {
    background: teal;
    color: white;
}

#numResults{
    font-size: 20px;
}

.footer{
    position: fixed;
    /* background: purple; */
    font-weight: bolder;
    width: 100%;
    margin-top:120px;
    bottom: 0px;
    left: 0px;
    background-color:black;
    height: 50px;;
    z-index: 1;
}

.footer h6{
    font-weight: bolder;
    color:white;
    text-align: center;
    margin:5px !important;
}

hr{
    border:2px solid white;
    margin-top:40px;
}

.searchRow{
    /* display:inline-flex; */
    border-radius: 15px;
    margin-bottom:25px;
    margin-left: 20px auto;
    /* width:100% */
    

}
.searchButton{
    height: 45px;
    margin: auto 10px;
    vertical-align: middle;
    margin-right:auto;
}

.input-field{
    display: flex;
    width: 250px;
    margin-left: 10px;
    
}
.searchFields{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    display:flex;
}
.keywordSearch{
    margin-left:auto;
}

.locationSearch{
    /* margin-right: auto; */
   
}
.autocompleteKeyword, .autocompleteLocation{
    border-radius: 15px !important; 
    /* width:20%; */
    /* background-color: brown !important; */
    font-size: 17px !important;
    color:white !important;
    font-weight: 800;
    padding-left: 10px !important;

}

.autocompleteKeyword {
    margin-left: auto;
}
.autocompleteLocation{
    margin-right: auto;
}
@media screen and (max-width: 750px) {
    .input-field{
        display: flex;
    }
    .slider .slides li img{
        height:50%;
    }
    h2{
        font-size:18px !important;
        margin:0px;
    }
    h5{
        font-size: 12px;
    }
  }

  @media screen and (max-width: 650px) {
      .container{
          width: 100%;
      }
    .searchFields{
        display: block;
    }

    td{
        font-size:18px;
        border-radius: 25px;
        max-width: 250px;
        overflow: hidden;
    }
    
    td > p{
        font-size:18px;
    }

  }