h1 h2 h3 h4 h5 {
    font-weight: bold !important;
}

#saved{
    color:black;
    font-size:24px;
}
.mainBody{
    background-color: purple;
    height:100%;
}
.navbar-header h1{
     color:white;
     margin-left: auto;
     margin-right: auto;
}

.right a{
    font-size:25px;
    font-weight: bolder;
}
.signUpContainer{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


#signUpBox{
    border:1px solid purple !important;
    border-radius: 25px;
}
.section-search input {
    padding: 5px !important;
    padding-left: 10px !important;
    font-size: 20px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
    color: purple !important;
}

.btn{
    font-size:30px !important;
    font-weight: bolder;
    border-radius: 15px;
}
.section-follow .fa-3x {
    margin: 5px 10px;
}
/* body { 
    background-image: url("../img/road.jpg");
    background-size: cover;
}*/
.navbar-fixed {
    width: 100%;
}
.nav-wrapper {
    margin-left: 40px;
    margin-right: 20px;
}

.slider .slides ul li {
    position: static;
    top: 64px !important;
}

.btn {
    font-size: 24px;
    background-color: teal;
}

caption.center.align h2 {
    background: black !important;
    opacity: 0.3 !important;
}

.loginHeader {
    background: purple;
    
}

.text-box{
    background: rgba(0,0,0,.6);
    border-radius: 25px;
    color:white;
    padding:20px;
}
.brandContainer{
    background-color:transparent;
    width:75%;
 
}

.brand-logo{
    color:white !important;
    font-size: 30px;
    font-weight: bold;
    text-align: center !important;
}


.loginBtn {
    color: white;
}

p {
    font-size: 20px;
}

.input-field {
    color: purple;
}

html {
    /* background: #8E24AA; */
}

td{
    font-size:24px;
}
/* #saved {
    color: #ffffff;
} */

.savedJobH4 h4{
    font-weight: bolder;
    padding:20px;
}
.saved{
    /* border: 1px solid purple; */
    border-radius: .25px;
    background: tomato;
}

.saved tr{
    font-weight: bolder;
}

.saved-table {
    color: black;
    font-size:24px;
}

.saved-table h4{
    font-weight: bolder;
}

.saveBtn {
    background: teal;
    color: white;
}

.deleteBtn {
    background: teal;
    color: white;
}

#numResults{
    font-size: 20px;
}

.footer{
    position: fixed;
    /* background: purple; */
    font-weight: bolder;
    width: 100%;
    margin-top:120px;
    bottom: 0px;
    left: 0px;
    border-top: 2px solid black;
    z-index: 1;
}

.footer h6{
    font-weight: bolder;
}
hr{
    border-color:white;
    margin-top:40px;
}